[Desktop Entry]
Name=Peruse
Name[ca]=Peruse
Name[ca@valencia]=Peruse
Name[cs]=Peruse
Name[de]=Peruse
Name[en_GB]=Peruse
Name[es]=Peruse
Name[et]=Peruse
Name[eu]=Peruse
Name[fi]=Peruse
Name[fr]=Peruse
Name[gl]=Peruse
Name[it]=Peruse
Name[ko]=Peruse
Name[nl]=Peruse
Name[pl]=Peruse
Name[pt]=Peruse
Name[ru]=Peruse
Name[sk]=Peruse
Name[sl]=Peruse
Name[sv]=Peruse
Name[uk]=Peruse
Name[x-test]=xxPerusexx
Name[zh_TW]=Peruse
GenericName=Comic Book Reader
GenericName[ca]=Lector de llibres de còmic
GenericName[ca@valencia]=Lector de llibres de còmic
GenericName[cs]=Čtečka komixů
GenericName[de]=Anzeigeprogramm für Comic-Book
GenericName[en_GB]=Comic Book Reader
GenericName[es]=Lector de cómics
GenericName[et]=Koomiksite lugemine
GenericName[eu]=Komiki liburu irakurtzekoa
GenericName[fi]=Sarjakuvakatselin
GenericName[fr]=Lecteur de bandes dessinées
GenericName[gl]=Lector de libros de banda deseñada
GenericName[it]=Lettore di fumetti
GenericName[ko]=만화책 뷰어
GenericName[nl]=Stripboekreader
GenericName[pl]=Czytnik komiksów
GenericName[pt]=Leitor de Bandas Desenhadas
GenericName[sk]=Čítačka komiksoc
GenericName[sl]=Bralnik stripov
GenericName[sv]=Serietidningsläsare
GenericName[uk]=Програма для читання коміксів
GenericName[x-test]=xxComic Book Readerxx
GenericName[zh_TW]=漫畫書閱讀器
Comment=A reader application for comic books
Comment[ca]=Una aplicació de lectura per a llibres de còmic
Comment[ca@valencia]=Una aplicació de lectura per a llibres de còmic
Comment[de]=Ein Anzeigeprogramm für Comic-Book
Comment[en_GB]=A reader application for comic books
Comment[es]=Una aplicación de lectura para cómics
Comment[et]=Koomiksite lugemise rakendus
Comment[eu]=Komiki liburuak irakurtzeko aplikazio bat
Comment[fi]=Sarjakuvakirjojen katselinsovellus
Comment[fr]=Une application de lecture de bandes dessinées
Comment[gl]=Unha aplicación de lectura de libros de banda deseñada
Comment[it]=Un'applicazione per leggere fumetti
Comment[ko]=만화책을 보는 프로그램
Comment[nl]=Een leestoepassing voor stripboeken
Comment[pl]=Aplikacja czytnika komiksów
Comment[pt]=Uma aplicação de leitura de bandas desenhadas
Comment[sk]=Čítačka pre komiksy
Comment[sl]=Aplikacija bralnika stripov
Comment[sv]=Ett läsprogram för serietidningar
Comment[uk]=Програма для читання книг із коміксами
Comment[x-test]=xxA reader application for comic booksxx
Comment[zh_TW]=一個用來閱讀漫畫的閱讀器應用程式
Exec=peruse %f
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=peruse
