[Desktop Entry]
Name=Peruse
Name[ca]=Peruse
Name[ca@valencia]=Peruse
Name[nl]=Peruse
Name[pt]=Peruse
Name[sv]=Peruse
Name[uk]=Peruse
Name[x-test]=xxPerusexx
GenericName=Comic Book Reader
GenericName[ca]=Lector de llibres de còmic
GenericName[ca@valencia]=Lector de llibres de còmic
GenericName[nl]=Stripboekreader
GenericName[pt]=Leitor de Bandas Desenhadas
GenericName[sv]=Serietidningsläsare
GenericName[uk]=Програма для читання коміксів
GenericName[x-test]=xxComic Book Readerxx
Comment=A reader application for comic books
Comment[ca]=Una aplicació de lectura per a llibres de còmic
Comment[ca@valencia]=Una aplicació de lectura per a llibres de còmic
Comment[nl]=Een leestoepassing voor stripboeken
Comment[pt]=Uma aplicação de leitura de bandas desenhadas
Comment[sv]=Ett läsprogram för serietidningar
Comment[uk]=Програма для читання книг із коміксами
Comment[x-test]=xxA reader application for comic booksxx
Exec=peruse
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=peruse
