[Desktop Entry]
Name=Peruse Creator
Name[ca]=Creador del Peruse
Name[ca@valencia]=Creador del Peruse
Name[cs]=Tvůrce Peruse
Name[de]=Peruse Creator
Name[es]=Peruse Creator
Name[eu]=Peruse sortzailea
Name[it]=Peruse Creator
Name[nl]=Maker van Peruse
Name[pt]=Criador do Peruse
Name[sk]=Tvorca Peruse
Name[sv]=Peruse Creator
Name[uk]=Peruse Creator
Name[x-test]=xxPeruse Creatorxx
GenericName=Comic Book Creator
GenericName[ca]=Creador de llibres de còmic
GenericName[ca@valencia]=Creador de llibres de còmic
GenericName[cs]=Tvůrce komixů
GenericName[de]=Erstellung von Comic-Books
GenericName[es]=Creador de cómics
GenericName[eu]=Komiki liburu sortzailea
GenericName[it]=Creatore di fumetti
GenericName[nl]=Maker van stripboeken
GenericName[pt]=Criador de Bandas Desenhadas
GenericName[sk]=Tvorca komiksov
GenericName[sv]=Serietidningsskapare
GenericName[uk]=Програма для створення коміксів
GenericName[x-test]=xxComic Book Creatorxx
Comment=An application for creating comic books archives
Comment[ca]=Una aplicació per crear arxius de llibres de còmic
Comment[ca@valencia]=Una aplicació per crear arxius de llibres de còmic
Comment[de]=Ein Programm zur Erstellung  Comic-Book-Archiven
Comment[es]=Una aplicación para crear archivos de cómic
Comment[eu]=Komiki liburu artxiboak sortzeko aplikazio bat
Comment[it]=Un'applicazione per creare archivi di fumetti
Comment[nl]=Een toepassing voor het maken van archieven met stripboeken
Comment[pt]=Uma aplicação para criar pacotes de livros de banda desenhada
Comment[sk]=Aplikácia na vytváranie komiksových archívov
Comment[sv]=Ett program för att skapa serietidningsarkiv
Comment[uk]=Програма для створення архівів із коміксами
Comment[x-test]=xxAn application for creating comic books archivesxx
Exec=perusecreator %f
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=peruse-creator
