[Desktop Entry]
Name=Peruse Creator
Name[ca]=Creador del Peruse
Name[ca@valencia]=Creador del Peruse
Name[cs]=Tvůrce Peruse
Name[de]=Peruse Creator
Name[en_GB]=Peruse Creator
Name[es]=Peruse Creator
Name[et]=Peruse valmistaja
Name[eu]=Peruse sortzailea
Name[fi]=Peruse Creator
Name[fr]=Peruse Creator
Name[gl]=Creador de Peruse
Name[it]=Peruse Creator
Name[ko]=Peruse 생성기
Name[nl]=Maker van Peruse
Name[pa]=ਪੇਰੁਸ ਨਿਰਮਾਤਾ
Name[pl]=Twórca Peruse
Name[pt]=Criador do Peruse
Name[sk]=Tvorca Peruse
Name[sl]=Peruse Creator
Name[sv]=Peruse Creator
Name[uk]=Peruse Creator
Name[x-test]=xxPeruse Creatorxx
Name[zh_TW]=Peruse 製作工具
GenericName=Comic Book Creator
GenericName[ca]=Creador de llibres de còmic
GenericName[ca@valencia]=Creador de llibres de còmic
GenericName[cs]=Tvůrce komixů
GenericName[de]=Erstellung von Comic-Books
GenericName[en_GB]=Comic Book Creator
GenericName[es]=Creador de cómics
GenericName[et]=Koomiksivalmistaja
GenericName[eu]=Komiki liburu sortzailea
GenericName[fi]=Sarjakuvakirjojen luonti
GenericName[fr]=Création de bandes dessinées
GenericName[gl]=Creador de libros de banda deseñada
GenericName[it]=Creatore di fumetti
GenericName[ko]=만화책 생성기
GenericName[nl]=Maker van stripboeken
GenericName[pa]=ਕਾਮਿਕ ਕਿਤਾਬ ਨਿਰਮਾਤਾ
GenericName[pl]=Twórca komiksów
GenericName[pt]=Criador de Bandas Desenhadas
GenericName[sk]=Tvorca komiksov
GenericName[sl]=Ustvarjalnik stripov
GenericName[sv]=Serietidningsskapare
GenericName[uk]=Програма для створення коміксів
GenericName[x-test]=xxComic Book Creatorxx
GenericName[zh_TW]=漫畫書製作工具
Comment=An application for creating comic books archives
Comment[ca]=Una aplicació per a crear arxius de llibres de còmic
Comment[ca@valencia]=Una aplicació per a crear arxius de llibres de còmic
Comment[cs]=Aplikace pro vytváření archivů knih komiksů
Comment[de]=Ein Programm zur Erstellung  Comic-Book-Archiven
Comment[en_GB]=An application for creating comic books archives
Comment[es]=Una aplicación para crear archivos de cómic
Comment[et]=Rakenduse koomiksiarhiivide loomiseks
Comment[eu]=Komiki liburu artxiboak sortzeko aplikazio bat
Comment[fi]=Sovellus sarjakuvakirja-arkistojen luomiseen
Comment[fr]=Une application de création d'archives de bandes dessinées
Comment[gl]=Unha aplicación para crear arquivos de libros de banda deseñada
Comment[it]=Un'applicazione per creare archivi di fumetti
Comment[ko]=만화책 압축 파일을 만드는 도구
Comment[nl]=Een toepassing voor het maken van archieven met stripboeken
Comment[pl]=Aplikacja do tworzenia komiksów
Comment[pt]=Uma aplicação para criar pacotes de livros de banda desenhada
Comment[sk]=Aplikácia na vytváranie komiksových archívov
Comment[sl]=Program za ustvarjanje arhivov stripov
Comment[sv]=Ett program för att skapa serietidningsarkiv
Comment[uk]=Програма для створення архівів із коміксами
Comment[x-test]=xxAn application for creating comic books archivesxx
Comment[zh_TW]=用來建立漫畫書封存檔的應用程式
Exec=perusecreator %f
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=peruse-creator
